{% extends 'base.html'%}
{% block content%}
<div class="container">

	<!-- Popular movie section  -->
        <h3> Top Headlines</h3>
        {% for article_row in articles | batch(4)%}

	        <div class="row">
	       
		        {% for article in article_row %}

		        	<div class="col-md-3">
				        <div class="thumbnail">
				        <a href="{{article.url}}" target="_blank">
						      <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
						      </a>
						      <div class="caption">
						        <h4><a href="{{article.url}}" target="_blank">{{article.title |truncate(35)}}</a></h4>
						        <p>{{article.description | truncate(80)}}</p>
						        <a href="{{article.url}}" target="_blank"> Read More</a>

						        
						      </div>
						      <div class="footer">
						      Published at: {{article.date}}
						      
								
							</div>
	  					</div>


			     	</div>
			     	
		        {% endfor %}
	        
	        </div>
         
        {% endfor %}
        
	
</div>


{%endblock%}

 